#Coffee{
	background: url("../images/coffee.webp") center center fixed no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.div1{	
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
	height: 150px;
}
@media(max-width: 1500px){
	.div1{
		margin-top: 20px;
	}
}
#para{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}